@import '../Abstract/variables';


.doublering_{
    position: relative;
    & p{
        width: 60px;
        text-align: center;
        margin-top: 10px;
        color: opacify($white_color,.6);
        font-weight: 400;
        font-size: .89rem;
    }
}

.doublering_container{
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: $teal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-bottom: 10px;
}

.doublering_content{
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: $bg_color;
}