@import '../Abstract/variables';
@import '../Abstract/mixins';

.home_container{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    @include full_width_height;
}

.timeline_display{
    border:1px solid rgb(83, 37, 37);
    width:80%;
}